name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false

      matrix:
        os:
          - ubuntu-latest
        compiler:
          - {compiler: gcc-11.3.0,  CC: gcc,   CXX: g++, gcov: gcov}
          - {compiler: llvm-15.0.0, CC: clang, CXX: clang++, gcov: llvm-cov gcov}
        generator:
          - "Unix Makefiles"
        build_type:
          - Release
          - Debug

    steps:
      - uses: actions/checkout@v2
      - name: Setup Cpp
        uses: aminya/setup-cpp@v1
        with:
          cmake: true
          ninja: true
          gcovr: true
      - name: install llvm
        if: startsWith(matrix.compiler.compiler, 'llvm')
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 15 all
          sudo update-alternatives --install /usr/bin/llvm-config llvm-config /usr/bin/llvm-config-15 200 --slave /usr/bin/llvm-ar llvm-ar /usr/bin/llvm-ar-15 --slave /usr/bin/llvm-as llvm-as /usr/bin/llvm-as-15 --slave /usr/bin/llvm-bcanalyzer llvm-bcanalyzer /usr/bin/llvm-bcanalyzer-15 --slave /usr/bin/llvm-cov llvm-cov /usr/bin/llvm-cov-15 --slave /usr/bin/llvm-diff llvm-diff /usr/bin/llvm-diff-15 --slave /usr/bin/llvm-dis llvm-dis /usr/bin/llvm-dis-15 --slave /usr/bin/llvm-dwarfdump llvm-dwarfdump /usr/bin/llvm-dwarfdump-15 --slave /usr/bin/llvm-extract llvm-extract /usr/bin/llvm-extract-15 --slave /usr/bin/llvm-link llvm-link /usr/bin/llvm-link-15 --slave /usr/bin/llvm-mc llvm-mc /usr/bin/llvm-mc-15 --slave /usr/bin/llvm-mcmarkup llvm-mcmarkup /usr/bin/llvm-mcmarkup-15 --slave /usr/bin/llvm-nm llvm-nm /usr/bin/llvm-nm-15 --slave /usr/bin/llvm-objdump llvm-objdump /usr/bin/llvm-objdump-15 --slave /usr/bin/llvm-ranlib llvm-ranlib /usr/bin/llvm-ranlib-15 --slave /usr/bin/llvm-readobj llvm-readobj /usr/bin/llvm-readobj-15 --slave /usr/bin/llvm-rtdyld llvm-rtdyld /usr/bin/llvm-rtdyld-15 --slave /usr/bin/llvm-size llvm-size /usr/bin/llvm-size-15 --slave /usr/bin/llvm-stress llvm-stress /usr/bin/llvm-stress-15 --slave /usr/bin/llvm-symbolizer llvm-symbolizer /usr/bin/llvm-symbolizer-15 --slave /usr/bin/llvm-tblgen llvm-tblgen /usr/bin/llvm-tblgen-15
          sudo update-alternatives --install /usr/bin/clang-tidy clang-tidy /usr/bin/clang-tidy-15 200
      - name: install libs
        run: |
          wget https://raw.githubusercontent.com/boost-ext/ut/master/include/boost/ut.hpp
          sudo mkdir -p /usr/include/boost/
          sudo mv ut.hpp /usr/include/boost/

      - name: Configure CMake
        run: |
          cmake -S . -B ./build -G "${{matrix.generator}}" -DCMAKE_BUILD_TYPE:STRING=${{matrix.build_type}} -DCMAKE_CXX_COMPILER=${{matrix.compiler.CXX}}
      - name: Build
        run: |
          cmake --build ./build --config ${{matrix.build_type}}
      - name: Install
        run: |
          cmake --install ./build --config ${{matrix.build_type}}
      - name: Test
        working-directory: ./bin
        run: |
          ./test
      - name: Coverage
        if: startsWith(matrix.build_type, 'Debug')
        run: |
          gcovr --exclude main --fail-under-line 100 --gcov-executable "${{matrix.compiler.gcov}}"
